.header-container {
  background-color: var(--COLOR_YELLOW);
  height: 40px;
  display: flex;
}

.hamburger {
  background-image: url("../img/hamburger.svg");
  width: 30px;
  height: 30px;
  margin: 5px;
}

.logo {
  text-align: center;
  flex: 1;
  margin: 0;
  padding: 0;
  border: 0;
}

@media (min-width: 800px) {
  .hamburger {
    display: none;
  }
}
